@import url('style.css');

body {
  background-image: url('interview.svg');
}

article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  color:#5A21DF;
  text-align: center;
}

p {
  color:#5A21DF;
  font-size: 20px;
  padding-top: 8px;
}

.box {
  width: 900px;
  height: 240px;
  background-color: #fff;
  margin: 0 auto;
  padding: 8px;
  border-radius: 1rem;
}

.interview-box {
  display: flex;
  gap: 20px;
}

.interview-image {
  padding-top: 10px;
  padding-left: 10px;
}

.transcript {
  text-align: end;
}

article a {
  cursor: pointer;
  color:#5A21DF;
  font-size: 20px;
  padding: 8px 12px;
}

article a:hover {
  background-color: #5A21DF;
  color:#fff;
  border-radius: 1rem;
}

audio {
  width: 640px;
  padding-top: 8px;
}